.svn/
target/
.settings/
.classpath
.project
.myeclipse
.DS_Store*
*.iml
*.class
.idea
/bin/
WEB-INF/logs/
*.less

src/main/resources/hibernate.cfg.xml

src/main/resources/package/local.properties

src/main/java/com/bsoft/mdt/controller/RpcController.java


#src/main/resources/spring-service.xml

