/* 目录样式 */
#plantuml-toc {
  padding: 5px;
  max-height: 400px;
  overflow-x: auto;
  width: 100%;
}

#plantuml-control{
  /* background-color: var(--sidebar-background, #fff);

  border-top-left-radius: 35px;
  border-bottom-left-radius: 35px;
  -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
  background-clip: padding-box;
  padding: 5px ;
  position: fixed;
  right: 0px;
  top: 300px;
  font-size: 14px;
  white-space: nowrap;
  z-index: 999;
  cursor: pointer;
  text-align: right;
  width: 30px;
  height: 30px; */
}



#plantuml-content {
  width: 100%;
  max-height: 600px;
  text-align: center;
  /* overflow-y: scroll; */
}

.plantuml-active{
  display:block;
}

