/* 目录样式 */
#plantuml-toc {

  margin: 0 auto;
  max-width: 800px;
  padding: 30px 15px 40px;
  position: relative;
  /* padding: 5px;
  max-height: 400px;
  overflow-x: auto;
  width: 100%; */
  /* position: fixed;
  top: 0;
  z-index: 100;
  background-color: #fff;
  width: 100%;
  max-height: 400px;
  overflow-x: auto;
  overflow-y: auto;
  left: 20%;
  box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.1) */
  
}

#plantuml-control {
  position: fixed;
  display: inline-block;
  /* z-index: 10000; */
  width: 30px;
  height: 30px;
  /* background: #fff; */
  border-radius: 15px;
  transition: .3s;
  cursor: pointer;

  background-image: url(../img/svg/目录.svg);
  background-repeat: no-repeat;
  background-size: 100% 100%;  
}

#plantuml-control:hover{
  transform: scale(1.1);
  box-shadow: -2px 2px 4px -4px #333, -4px 4px 8px -4px #333;
}



/* .g-resize { 
  content: "";
  position: relative;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  overflow: hidden;
  resize: both;
  z-index: 1;
} */

/* .g-content {
  position: absolute;
  bottom: -80px;
  right: -80px;
  width: 100px;
  height: 100px;
  background: black;
} */

/* .g-content::before{
    content: "";
    position: absolute;
    width: 20px;
    height: 20px;
    background: #fff;
    border-radius: 50%;
    transition: .3s;
    cursor: pointer;
    
}
#plantuml-control:hover .g-content::before {
  transform: scale(1.1);
  box-shadow: -2px 2px 4px -4px #333, -4px 4px 8px -4px #333;
}
.g-resize::-webkit-resizer {
  background-color: transparent;
} */



#plantuml-content {
  width: 100%;
  max-height: 500px;
  /* text-align: center; */
  /* background-color: #fff; */
  overflow-y: scroll;
}

/* .plantuml-content-hiddle {
   display: block;
}

.plantuml-content-active {
  display:block;
} */

